<%= form_with(model: rfp) do |form| %>
  <% if rfp.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(rfp.errors.count, "error") %> prohibited this RFP from being saved:</h4>
      <ul>
        <% rfp.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, rows: 5, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :submission_deadline, class: "form-label" %>
    <%= form.datetime_local_field :submission_deadline, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label" %>
    <%= form.select :status, Rfp.statuses.keys.map { |s| [s.titleize, s] }, {}, class: "form-select" %>
  </div>

  <div class="d-flex justify-content-between">
    <%= link_to "Cancel", rfps_path, class: "btn btn-outline-secondary" %>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>